.home_container {
  margin: 0px 200px;
}

.home_container h1 {
  font-family: Syncopate;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 52px;
  margin-top: 2em;
}

.home_container h1 span {
  font-family: Syncopate;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  color: #3eced3;
}

.img {
  height: 500px;
  margin: 20px;
}

.home_container_txt {
  color: #000;
  font-family: "Poppins";
  margin-top: 30px;
  font-size: 25px;
  font-weight: bold;
  margin-right: 3em;
}

.home_container_txt p {
  margin-bottom: 0.2em;
}

.home_container_button {
  padding: 10px 60px;
  border-radius: 50px;
  margin: 3em;
  font-weight: bold;
  font-size: 20px;
  font-family: "Quicksand";
  background-color: #63cccf;
  color: #fff;
  border: none;
  cursor: pointer;
}
