.container {
  width: 1200px;
  height: auto;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  flex-wrap: wrap;
}

.min-height {
  min-height: 75%;
}

.min-height img {
  align-items: center;
  margin-top: 5em;
  cursor: pointer;
}

.start {
  justify-content: flex-start;
}

.column {
  flex-direction: column;
  justify-content: flex-start;
}
