.footer {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100%;
  bottom: 0px;
  background-color: #fff;
  color: #eee;
}

.social_list {
  display: flex;
  justify-content: center;
  list-style: none;
}

.social_list li {
  margin: 0 1em;
}
.social_list li:hover {
  color: #ffbb33;
}

.social_list svg {
  font-size: 1.5em;
  cursor: pointer;
  color: rgb(42, 42, 42);
  justify-content: center;
  display: flex;
}

.copy_right span {
  font-weight: bold;
  color: #ffbb33;
}
