.footer {
  background-color: #fff;
  color: #eee;
  text-align: center;
  justify-content: center;
}

.social_list {
  display: flex;
  justify-content: center;
  list-style: none;
}

.social_list li {
  margin: 0 1em;
}
.social_list li:hover {
  color: #ffbb33;
}

.social_list svg {
  font-size: 1.5em;
  cursor: pointer;
  margin-top: 2em;
  color: #000;
  justify-content: center;
  display: flex;
}

.copy_right {
  margin-top: 2em;
}

.copy_right span {
  font-weight: bold;
  color: #ffbb33;
}
